@model IEnumerable<WebshopThiso.Models.ProductViewModel>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>


@foreach (ProductViewModel product in Model)
{
    <div class="container">
        @Html.HiddenFor(model => product.SerialNumber)
        <div class="col-xs-6 col-sm-3">
            <h4>@product.Name</h4>
        </div>
        <div class="col-xs-6 col-sm-3">
            <medium>@product.Description</medium>
        </div>
        

        <div class="container">
            <div class="row">
                <div class="block span3">
                    <div class="product">
                        <img src="/images/rubber_duck.jfif">
                    </div>
                    <div class="info">

                        <span class="description">
                            @product.Description
                        </span>
                        <span class="price">@product.Price</span>
                       
                    </div>
                    <a asp-controller="Product" asp-action="Detail" value="@product.SerialNumber"> Detais</a>
                </div>
            </div>
        </div>
        <div class="align-content-center">
            @using (Html.BeginForm("CartAdd", "Cart", FormMethod.Post))
            {
                <input type="number" name="quantity" min="1" max="5">
                <input type="hidden" name="serialnumber" value="@product.SerialNumber"/>
                //@Html.HiddenFor(product.SerialNumber);
                <input class="btn btn-light" type="submit" value=" voeg toe aan winkelwagen"/>
            }

        </div>




    </div>
}
