@model IEnumerable<WebshopThiso.Models.OrderViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@{
    int a = 1;
}

@if (a == 1)
{
    <h1> geen facturen beschikbaar</h1>
}
else
{
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        </tr>
    }
    </tbody>
</table>
}

